.explore {
  font-size: 100px;
  text-align: center;
  color: turquoise;
  margin: 20px;
}

.drinks {
  padding: 10px;
  display: inline-table;
}

.input {
  text-align: center;
  font-size: 70px;
}

.null {
  text-align: center;
  font-size: 40px;
}

button,
input {
  font-size: 20px;
  border-radius: 6px;
  padding: 10px;
}

button {
  cursor: pointer;
  margin-left: 5px;
}

body {
  text-align: center;
}

.imgDrink {
  max-width: 400px;
}
